.navbutton{
   background-color: cadetblue;
    padding: 11px 25px;
    width: 100px;
    text-align: center;
    display: inline-block;
    position: relative;

}
/* this turns the drop down off when not used */
 .drop-down{
    display: none;
    position: absolute;
    z-index: 99;
    padding-top: 20px;
    margin-left: -30px;


}
/* this class turns the dropdown menu on during hover */
.navbutton:hover .drop-down{
    display: block;
    
}
.drop-down .navbutton{
    background-color: gray;

}
/* changes color of the navbutton in the drop-down class when hovered */
.drop-down .navbutton:hover{
    background-color: rgb(172, 30, 160);
    transition-duration: 0.5s;

}
